@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Space Mono", sans-serif;
}

button,
input {
  font-family: "Space Mono", sans-serif;
}

/* Hide spinners for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* for Firefox */
}

/* main {
  background: #c5e4e7;
} */

header {
  display: flex;
  justify-content: center;
  background: #c5e4e7;
  padding: 50px 0 40px 0;
}

#card {
  background: #fff;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}
.numerical {
  text-align: right;
}

#inputs {
  border-radius: 25px;
  width: 100%;
}

.amounts {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  margin-top: 6px;
}

label,
.button-title {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
}

.amounts input {
  border-radius: 5px;
  background: #f3f9fa;
  border: none;
  height: 48px;
  padding: 6px 17px;
  width: 100%;
}
input[type="number"] {
  color: #00474b;
  text-align: right;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: 700;
}
.amounts .icon {
  position: absolute;
  top: 15px;
  left: 19px;
}

.buttons-section {
  margin-top: 32px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* justify-content: center; */
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.buttons .tip,
#custom-tip {
  padding: 6px 17px;
  border: none;
  border-radius: 5px;
  background: #00474b;

  /* text */
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s;
}

.buttons .clicked {
  background: #9fe8df;
  color: #00474b;
  transition: 0.2s;
}

#custom-tip {
  width: 100%;
  background: #f3f9fa;
  color: #547878;
}

#custom-tip::placeholder {
  color: #547878;
  text-align: right;
  font-size: 24px;
}

.people {
  margin-top: 32px;
}

#results {
  border-radius: 15px;
  background: #00474b;
  width: 100%;
  padding: 39px 22px 24px 24px;
}
#reset {
  width: 100%;
  padding: 9px 32px;
  color: #00474b;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: #26c2ae;
  border: none;
  margin-top: 33px;
  cursor: pointer;
  transition: 0.3s;
}

#reset:hover {
  background: #9fe8df;
  transition: 0.3s;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
}
.second-wrapper {
  margin-top: 25px;
}

#results h2 {
  color: #fff;
  font-size: 16px;

  font-weight: 700;
}

#results span {
  color: #7f9d9f;
  font-size: 13px;
}

#results #result-tip,
#results #result-total {
  color: #26c2ae;
  text-align: right;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.667px;
}

@media (min-width: 1000px) {
  body {
    background-color: #c5e4e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 87px;
  }
  header {
    padding: 0;
  }

  #card {
    padding: 0;
    flex-direction: row;
    border-radius: 20px;
    gap: 48px;
    width: 920px;
  }

  #inputs {
    margin: 45px 0 48px 48px;
  }

  .buttons-section {
    margin-top: 40px;
  }

  .buttons {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
  }

  .people {
    margin-top: 40px;
  }

  .amounts input::placeholder {
    opacity: 35%;
  }

  #results {
    padding: 40px;
    margin: 32px 32px 32px 0;
  }
  .second-wrapper {
    margin-top: 25px;
  }

  #results #result-tip,
  #results #result-total {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -1px;
    text-align: right;
  }

  #custom-tip {
    padding: 6px 1px;
  }
  #custom-tip::placeholder {
    text-align: center;
  }

  #reset {
    margin-top: 122px;
  }
}
